<h1>Signup!</h1>

<div id="form">
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Username" required/>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" required/>
    </label>

    <button type="submit">Create account</button>
  </form>
</div>
